<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Violance between criminal and police</title>
    <style>
        .plot{
            display:flex;
        }

        .plot p{
            padding-top: 25px;
            font-size:20px;
        }

        .plot img{
            height:300px;
            width:700px;
        }
    </style>
</head>
<body>
    <div id = "plotpart">
    <h1 style="text-align: center;">US Police Violance Analysis</h1>
    
    <div class="plot">
        <img src="/static/img/plot1.png" alt="">
        <p>There are lots's of death's of criminal, especially in <b>California, Texas, Florida</b>.</p>
    </div>
    
    <div class="plot">
        <img src="/static/img/plot3.png" alt="">
        <p>Even though, white people do more criminals, but high probability killed unarmed people is <b>Black</b>...</p>
    </div>

    <div class="plot">
        <img src="/static/img/plot4.png" alt="">
        <p>There are police death statistics... many deaths in <b>Texas, California, NewYork</b></p>
    </div>
    
    <div class="plot">
        <img src="/static/img/plot5.png" alt="">
        <p>State happens high number of criminal deaths seemd to have tendency to high police deaths... </p>
    </div>
</div>
    <div id="newspart">
    <a href="{% url 'crawl' %}">news</a>
    {% if news %}
    {% for i in news%}
    {% if i.timestamp == now %}
    <a href="{{i.article_url}}">
    <div style="display: flex;">
        <img style="width: 100px; height: 100px;" src="{{i.img_url}}" alt="">
        <div>
            <h2>{{i.title}}</h2>
            <p>{{i.timestamp}}</p>
        </div>
    </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>
    
</body>
</html>